.nav{
    display: flex;
    gap: 40%;
}
.image1{
    margin: 0px 0px 0px 20px;
}
.items{
    display: flex;
    align-items: center;
    
   
}
.product{
    font-size: 20px;
    margin: 0px 15px;
}
.price{
    font-size: 20px;
    margin: 0px 15px;
}
.resource{
    font-size: 20px;
    margin: 0px 15px;
}
.about{
    font-size: 20px;
    margin: 0px 15px;
}
.image2{
   height: 25px;
   width: 25px; 
   margin: 0px 5px;
}